.idea
.vscode/settings.json
.vscode/launch.json
discovery/restart.bat
discovery/composer.phar
discovery/composer.bat
discovery/.env.mountapollo
discovery/resources/assets/js/sitings-sdk/package.json
discovery/resources/assets/js/sitings-sdk/config/
discovery/resources/assets/js/sitings-sdk/server/
discovery/resources/assets/js/sitings-sdk/node_modules/
discovery/resources/assets/js/sitings-sdk/data/
*.as

discovery/adminer.php
discovery/info.php