.green-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $landspot-theme-color;
  margin: 0;
}
.home-h1 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  margin: 0;
  line-height: 45px;
  color: #232456;
}

.theme-color {
  color: $landspot-theme-color;
}

