//$z-index-close-discovery: 999;
$z-index-left-panel: 3;
$z-index-app-nav: 999;
//$z-index-fullpage-messenger: 999;
$z-index-chat: 998;
$z-index-alert: 9999;
$z-index-popup-modal-backdrop: 1000;
//$z-index-popup-modal: 1000;
$z-index-nice-dropdown-list: 1;
$z-index-spinner: 10000;
$z-index-price-slider-handle: 1;