@font-face {
  font-family: 'CenturyGothic Bold';
  src: local('CenturyGothic Bold'), url('../../blob/CenturyGothic/CenturyGothic-Bold.woff') format('woff');
}

@font-face {
  font-family: 'CenturyGothic Regular';
  src: local('CenturyGothic Regular'), url('../../blob/CenturyGothic/CenturyGothic.woff') format('woff');
}