@font-face {
  font-family: 'DINNextRoundedLTPro-Medium';
  src: local('DINNextRoundedLTPro-Medium'), url('../../blob/DinNext/DINNextRoundedLTPro-Medium.woff') format('woff');
}

@font-face {
  font-family: 'DINNextRoundedLTPro-Light';
  src: local('DINNextRoundedLTPro-Light'), url('../../blob/DinNext/DINNextRoundedLTPro-Light.woff') format('woff');
}

@font-face {
  font-family: 'DINNextRoundedLTPro-Bold';
  src: local('DINNextRoundedLTPro-Bold'), url('../../blob/DinNext/DINNextRoundedLTPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'DINNextRoundedLTPro-Regular';
  src: local('DINNextRoundedLTPro-Regular'), url('../../blob/DinNext/DINNextRoundedLTPro-Regular.woff') format('woff');
}


