@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), url('../../blob/Montserrat/montserrat-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat-Light'), url('../../blob/Montserrat/montserrat-v12-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url('../../blob/Montserrat/montserrat-v12-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat-Medium'), url('../../blob/Montserrat/montserrat-v12-latin-500.woff') format('woff');
}
