@font-face {
  font-family: 'Roboto-Italic';
  src: local('Roboto-Italic'), url('../../blob/Roboto/Roboto-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url('../../blob/Roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url('../../blob/Roboto/Roboto.woff') format('woff');
}
