
footer {
  .container {
    height: inherit;
    padding-bottom: 70px;
    font-size: 14px;
    line-height: 30px;
    color: $default-text-color;

    .footer-logo {
      height: 29px;
      width: 149px;
      background: url('../img/LC_Logo_Landspot_Lockup-Blue.svg') no-repeat center left;
    }

    .footer-flex-box {
      align-items: flex-start;
      display: flex;
      justify-content: flex-end;
    }

    .copyright {
      margin-right: 44px;
    }

    .footer-links {
      & > a {

        color: $default-text-color;
        text-decoration: underline;
        padding: 0 3px;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  footer {
    .container {
      padding-bottom: 50px;
      .footer-flex-box {
        margin-top: 24px;
        align-items: center;
        justify-content: space-between;
      }
      .footer-logo {
        height: 17.5px;
        width: 97px;
      }
    }
  }
}

@media (max-width: 992px) {
  footer {
    .container {
      padding-bottom: 60px;
      .footer-flex-box {
        margin-top: 44px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .footer-logo {
        width: inherit;
      }
      .copyright {
        margin-right: 0;
      }
      .footer-logo {
        background-position: center center;
      }
    }
  }
}

@media (max-width: 760px) {
  footer {
    .container {
      padding-bottom: 35px;
      font-size: 12px;
      .footer-flex-box {
        margin-top: 24px;
      }
      .copyright {
        text-align: center;
      }
    }
  }
}