//Navigation panel
$nav-header-logo-size: 20px;
$app-navbar-width: 50px;
$app-navbar-fullwidth: 200px;
$navigation-closed-width: 50px;

// Typography
$text-color: #333;
$text-size: 12px;
$item-text-color: #565656;
$menu-border-color: rgba(0,0,0,.1);


//Dropdowns
$select-border-color: #e4e4e4;
$filter-input-height: 39px;
$filter-input-margin-bottom: 11px;

$default-text-color: #878787;
$default-bg-color: #F3F3F3;
$content-page-bg-color: #f9f9f9;

//Popups
$max-dialog-height: 85vh;

$landspot-green-color: #00E994;
$default-border-color: #dddddd;
$anchor-hover-color: #464646;

$fullpage-padding-top: 107px;
$page-wrapper-padding: 20px;
$page-padding: 15px;
$scrollbar-color: #F5F5F5;
$app-menu-width: 210px;
$app-menu-font-size: 14px;

//Print
$a4-page-height: 297mm;
$a4-page-width: 210mm;
$print-page-margin: 10mm;
$print-header-height: 20mm;
$print-header-padding: 5mm;


//Login
$landspot-blue-color: #3D40C6;
$landspot-text-color: #4A4A4A;

$validation-error: #a94442;

$table-header-color: #DEDEDE;