$z-index-close-discovery: 999;
$z-index-left-panel: 2;
$z-index-app-nav: 999;
$z-index-fullpage-messenger: 999;
$z-index-chat: 998;
$z-index-alert: 9999;
$z-index-estate-google-map: 1;
$z-index-input-location-google-map: 2;
$z-index-popup-modal-backdrop: 1000;
$z-index-popup-modal: 1000;
$z-index-nice-dropdown-list: 1;
$z-index-spinner: 10000;
$z-index-user-notification: 998;
$z-index-price-slider-handle: 1;