@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
.filter-bar {
  padding-bottom: 30px;

  .wrap-upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .boundary-add-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .boundary-add-wrap .title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #38393B;
    display: block;
  }

  .add-button {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #38393B;
    background: $button-background-color;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    cursor: pointer;
  }

  .add-button:hover {
    background-color: $landconnect-theme-color;
    color: #FFFFFF;
  }

  .sitting-header {
    background: #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: $content-padding;
    padding-bottom: $content-padding / 2;
    margin-top: -$content-padding / 2;
    margin-left: -$content-padding;
    margin-right: -$content-padding;
    display: flex;
    align-items: center;
    position: relative;
  }

  .sitting-header .bar {
    border-bottom: 3px solid $landconnect-theme-color;
    width: 100px;
    position: absolute;
    bottom: 0;
    margin-left: -26px;
  }

  .letter {
    // font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #828282;
  }

  .letter-bold {
    // font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #333333;
  }
  
  .filter-form {
    .first-row {
      border-top: $app-border;
      margin-top: 35px;
      padding-top: 22px;
      display: flex;
      justify-content: space-between;
      line-height: 44px;

      &.has-nav {
        margin-top: 0;
        border-top: none;
      }

      .filters-header {
        font-size: 24px;
        font-weight: $font-weight-bold;
      }

      button {
        height: 32px;
        margin-top: 6px;
        padding-left: 1.5em;
        padding-right: 1.5em;
      }

      .clear-filters {
        opacity: 0.7;
        font-size: $text-size;
        font-weight: $font-weight-bold;
        margin-left: auto;
      }
    }

    & > .filter-nav {
      @extend %navigation-menu;
      font-size: $larger-text-size;
      flex-wrap: nowrap;

      & > a {
        &:last-of-type {
          flex-grow: 1;
        }
        & > .landconnect-icon {
          padding: 7px;
        }
      }
    }
  }
}