@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

.flex-start {
  justify-content: flex-start !important;
}

img.offset-right {
  margin-right: 1rem;
}

.btn-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;
  background: #F3F4F6;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  margin-right: 8px;

  span {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #38393B;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}

.btn-primary.active {
  background: $landconnect-theme-color;
  span {
    color: #FFFFFF;
  }

  .landconnect-icon:before{
    background-color: #FFFFFF;
  }
}

.btn-primary:hover {
  background: $landconnect-theme-color;
  span {
    color: #FFFFFF;
  }

  .landconnect-icon:before{
    background-color: #FFFFFF;
  }
}

.file-block {
  width: 100%;
  span.title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 7px;
  }
}

.file-picker-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 12px;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  border: 1px solid #dcdddf;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tool-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 72px;
  height: 36px;
  flex: none;
  order: 2;
  flex-grow: 0;
  justify-content: space-between;
}

.tool-wrap img {
  cursor: pointer;
}

.upload-button {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #38393b;
  background: #f3f4f6;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: $landconnect-theme-color;
  color: #ffffff;
}

.document-wrap {
  display: flex;
  justify-content: space-between;
}

.pdf-image-wrap {
  background: #f3f4f6;
  border-radius: 8px;
  width: 43px;
  height: 43px;
  position: relative;
}

.pdf-image-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detail-wrap {
  padding-left: 10px;
}

.detail-wrap .title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #38393b;
  display: block;
}

.detail-wrap .info {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #858688;
  display: block;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.sitings-container {
  .button > .landconnect-icon {
    padding: 7px;
    margin-right: 7px;

    &:before {
      background-color: #888;
    }
  }

  .sidebar {
    .cloud-upload {
      padding: 10px;
    }

    .step-note {
      p {
        font-size: 12px;
      }

      .doc-name {
        & > a {
          display: flex;
          align-items: center;

          & > i {
            margin-right: 10px;
          }
        }

        padding-top: 25px;
      }

      padding-bottom: 15px;
    }

    .form-upload {
      margin-bottom: 30px;
      border-bottom: $app-border;

      .form-upload-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .form-upload-label {
          color: $landconnect-theme-color;
          margin-bottom: 7px;
        }

        .form-upload-button {
          border-radius: 5px;
          width: 220px;
        }
      }
    }

    .label {
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      font-style: normal;
    }

    .toggle-mirror {
      & > .toggle-switch {
        padding-right: 60px;

        & > i {
          min-width: 55px;
        }
      }
    }

    .toggle-metric {
      & > .toggle-switch {
        padding-left: 0;
        width: 105px;
        height: 24px !important;

        & > i {
          border-radius: 12px !important;
        }
      }
    }

    .fall-levels {
      justify-content: flex-start !important;

      .fall-levels-checkbox {
        & > .toggle-switch {
          width: 85px;
        }
      }
    }

    @import 'cards';

    .cards {
      .cards-list {
        margin-bottom: 30px;

        .card {
          margin-bottom: 10px;

          &.selected {
            .content {
              border: $app-border-width solid $landconnect-theme-color;
            }
          }

          .content {
            border-radius: 0;
          }

          .page-num {
            position: absolute;
            bottom: 0;
            left: 12px;
            font-size: $text-size;
          }
        }
      }
    }

    .step-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      box-shadow: $app-box-shadow;

      height: 70px;
      border-top: $app-border;

      position: fixed;
      left: 0;
      bottom: 0;
      width: 26%;
      padding: 0px $content-padding;
      color: #fff;

      & > .button {
        color: #fff;

        &.next {
          margin-left: auto;
        }

        .landconnect-icon {
          padding: 7px 13px;
          margin: 0;

          &:before {
            background-color: #38393b;
          }
        }
      }
    }

    .landconnect.arrow-left {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #38393b;
    }

    .button-before {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .button-continue {
      background: #005ff9;
      border-radius: 8px;
      flex: none;
      order: 0;
      flex-grow: 0;
      height: 40px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
      flex: none;
      order: 0;
      flex-grow: 0;
      padding: 0.75em 0.85rem;
    }

    .button-continue:hover {
      background: #3462ad;
    }

    .lot-settings.edges-list {
      margin: 30px 0 40px;
    }

    .lot-settings {
      .easements {
        border-bottom: 1px solid #E0E0E0;
        border-radius: 0px;
        margin-bottom: 20px;
      }

      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.4;
      }

      & > .header {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1px;
        color: #38393B;

        margin: 0 0 20px 0;

        &.break {
          margin-top: 80px;
        }
      }

      & > .sub-header {
        font-size: $large-font-size;
        font-weight: $font-weight-medium;
        margin: 10px 0 0;
      }

      &.edges-list {
        .edge {
          margin-bottom: 20px;
          min-height: 30px;
          position: relative;

          .delete-btn {
            position: absolute;
            right: 8px;
            top: 10px;

            & > .landconnect-icon {
              padding: 6px;
              margin: 0;
            }
          }

          .edge-shape,
          .edge-dimension {
            display: flex;
            justify-content: stretch;
            align-items: center;
            min-height: 30px;
          }

          .edge-shape {
            .edge-type {
              i {
                margin-right: 10px;
              }
            }

            .edge-type,
            .direction {
              margin-left: 15px;
            }

            .landconnect-input {
              /*max-width: 75px;*/
              margin-left: auto;
            }
          }

          .edge-dimension {
            margin-top: 10px;

            & > .landconnect-input {
              margin-left: 15px;

              & > input:not(:first-child) {
                margin-top: 10px;
              }
            }

            @media (min-width: 1025px) and (max-width: 1200px) {
              flex-wrap: wrap;

              & > .landconnect-input {
                flex: 0 43%;

                &:nth-child(-n + 2) {
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }

      &.add-house,
      &.export {
        .form-rows {
          .form-row {
            .right-item {
              &.nice-dropdown {
                max-width: 100%;
              }
            }
          }
        }

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }

      .easements .btn-group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          letter-spacing: 0.1px;
          color: #38393B;
        }

        &.column {
          flex-direction: column;
        }

        & > .button-wrapper {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          min-height: 3rem;
          margin: 5px 0;

          &.one-third-basis {
            div:first-child {
              min-width: 30%;
              flex-basis: 30%;
            }
          }

          &.compact {
            margin: 10px 0 0;
            min-height: auto;
          }

          & > .nice-dropdown {
            min-width: 150px;
          }

          & > .btn-group-input {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            & > .landconnect-input {
              margin: 8px 6px 8px 0;
            }

            & > .height-times {
              width: max-content;
              padding: 5px 8px;

              i {
                margin-right: 0;
              }
            }
          }

          & > .button-label {
            font-size: 16px;
            font-weight: 300;
            margin-right: 10px;
            min-width: 125px;
          }
        }

        & > .button {
          padding: 0 1em;
          height: 30px;
          align-self: flex-start;
          margin-top: 10px;
        }

        &.transformations {
          .button {
            padding: 0;
          }

          @media (min-width: 1025px) and (max-width: 1200px) {
            flex-direction: row;
          }
        }
      }

      .btn-group {
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      @media (min-width: 1025px) and (max-width: 1200px) {
        flex-direction: column;
        & > .button:not(:first-child) {
          margin-left: 0;
        }
      }

      .note {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px 12px 0px;
        gap: 8px;
        width: 100%;
        height: 40px;
        background: #D5E3FF;
        border-radius: 8px;
        flex: none;
        order: 2;
        flex-grow: 0;
        margin-top: 1rem;

        span {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #005FF9;
          flex: none;
          order: 1;
          flex-grow: 0;
        }

        i:before {
          color: #005FF9;
        }

        & > i {
          margin-right: 10px;
        }
      }

      .landconnect-input {
        height: 36px;
        input {
          height: 36px;
          width: 100%;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px 12px 10px 12px;
          background: transparent;
          gap: 8px;
          border: 1px solid #DCDDDF;
          border-radius: 8px;
          flex: none;
          order: 0;
          flex-grow: 0;
        }

        input:focus {
          border: 1px solid #3c3d3d;
          outline-width: 0;
        }
      }

      .landconnect-input.offset-meter-input {
        width: 116px;
        height: 36px;

        input {
          text-align: right;
        }
      }

      .left-placeholder {
        position: absolute;
        left: 13px;
        top: 10px;
        margin-top: 0.5px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #858688;
        flex: none;
        order: 0;
        flex-grow: 0;
        z-index: -1;
      }

      .right-placeholder {
        position: absolute;
        right: 13px;
        top: 10px;
        margin-top: 0.5px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #38393B;
        flex: none;
        order: 1;
        flex-grow: 1;
        z-index: -1;
      }

      .easements {
        .easement {
          display: flex;
          margin-bottom: 10px;

          & > .blocks {
            width: 100%;
            margin-top: 15px;

            & > .block {
              margin-bottom: 10px;
              display: flex;
              justify-content: space-between;
              align-items: flex-start;

              &.street-names {
                justify-content: flex-start;

                .street-names-number {
                  width: 10px;
                  margin-right: 8px;
                }

                .street-names-input {
                  width: max-content;
                }
              }

              .wrap {
                width: calc(100% - 20px);
              }

              .row {
                display: flex;
                justify-content: space-between;
              }

              .easement-number,
              .easement-type {
                line-height: 30px;
              }

              .easement-type {
                width: 70px;
              }

              .easement-dimension {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                &.double-inputs {
                  flex-direction: row;
                  flex-wrap: wrap;

                  & > .landconnect-input {
                    height: 36px;
                    &.width {
                      position: relative;
                      margin-top: 0 !important;
                      flex: 0 0 50%;
                      padding-right: 5px;

                      &:after {
                        content: 'W';
                        position: absolute;
                        right: 25px;
                        top: 0;
                        line-height: 30px;
                      }
                    }

                    &.height {
                      position: relative;
                      margin-top: 0 !important;
                      padding-left: 5px;
                      flex: 0 0 50%;

                      &:before {
                        content: 'H';
                        position: absolute;
                        right: 25px;
                        top: 0;
                        line-height: 30px;
                      }
                    }
                  }

                  @media (min-width: 1025px) and (max-width: 1200px) {
                    flex-direction: column;

                    & > .landconnect-input {
                      padding: 0 !important;

                      &:not(:first-child) {
                        margin-top: 10px !important;
                      }
                    }
                  }
                }

                .button {
                  padding-left: 0;

                  & > .landconnect-icon {
                    margin: 0;
                  }
                }

                .offset {
                  margin-left: 4px;
                }

                & > .landconnect-input {
                  &.input-group {
                    & > .input-group-addon {
                      &:not(:first-child) {
                        margin-left: 10px;
                      }
                    }

                    #parallel-mode {
                      height: 36px;
                      width: 116px;
                      box-sizing: border-box;
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      padding: 10px 12px 10px 12px;
                      gap: 8px;
                      border: 1px solid #DCDDDF;
                      border-radius: 8px;
                      flex: none;
                      order: 0;
                      flex-grow: 0;
                      background: transparent;
                      margin-left: 4px;
                      background-image: linear-gradient(45deg, transparent 50%, #38393B 50%), linear-gradient(135deg, #38393B 50%, transparent 50%);
                      background-position: calc(100% - 15px) calc(1em + 3px), calc(100% - 10px) calc(1em + 3px), calc(100% - 2.5em) calc(0.5em + 1px);
                      background-size: 5px 5px, 5px 5px, 1px 1.5em;
                      background-repeat: no-repeat;
                      margin: 0;      
                      -webkit-box-sizing: border-box;
                      -moz-box-sizing: border-box;
                      box-sizing: border-box;
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                      margin-left: 4px;
                    }

                    #parallel-mode:focus {
                      background-image: linear-gradient(45deg, #38393B 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #38393B 50%);
                      background-position: calc(100% - 10px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) calc(0.5em + 2px);
                      background-size: 5px 5px, 5px 5px, 1px 1.5em;
                      background-repeat: no-repeat;
                      border-color: #38393B;
                      outline: 0;
                    }

                    #parallel-mode:focus-visible {
                      outline: 0;
                    }

                    #parallel-mode:focus-within {
                      outline: 0;
                    }
                  }

                  &:not(:first-child) {
                    margin-top: 0px;
                  }

                  &.slider {
                    width: 100%;
                    margin-top: 0;

                    & > .price-slider {
                      margin: 15px 0;
                      padding-right: 1ch;
                    }
                  }

                  &.checkbox {
                    span {
                      vertical-align: middle;
                    }
                  }
                }

                .easement-angle {
                  display: flex;
                  margin: 10px 0;

                  &.top {
                    margin: 0;
                  }

                  & > .landconnect-input {
                    &:not(:first-child) {
                      margin-left: 10px;
                    }
                  }

                  @media (min-width: 1025px) and (max-width: 1200px) {
                    flex-wrap: wrap;

                    & > .landconnect-input {
                      &:not(:first-child) {
                        margin-left: 0;
                        margin-top: 10px;
                      }
                    }
                  }
                }
              }

              & > .button {
                height: 30px;
                margin-left: 15px;
              }
            }

            &.engineering-street-names {
              display: flex;

              & > .engineering-street-name {
                margin-right: 10px;
                flex: 1;

                & > .landconnect-input {
                }

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }

      .offset-meter-input {
        width: 116px;
        position: relative;

        input {
          height: 36px;
          width: 100%;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px 12px 10px 12px;
          background: transparent;
          gap: 8px;
          border: 1px solid #DCDDDF;
          border-radius: 8px;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
      }

      .angle-flex {
        display: flex;
        margin-top: 5px;

        .offset {
          margin-right: 4px;
        }
      }

      .form-rows .form-row .right-item {
        max-width: 80px;

        &.wide {
          max-width: 175px;
        }
      }

      .nice-radio {
        & > .radio-item {
          & > label > input[type='radio']:checked + i.fa:before {
            content: '\f192';
            font-weight: 500;
            color: $landconnect-theme-color;
          }
        }
      }

      .nice-checkbox + label {
        margin-left: 10px;
        color: $table-text-color;
        font-weight: normal;

        & > span {
          color: inherit;
          font-size: 12px;
          user-select: none;
        }
      }

      .toggle-switch {
        width: 100%;
      }
    }

    .direction {
      & > .landconnect-icon {
        &:first-child {
          margin-right: 0;
        }

        &.active {
          &:before {
            background-color: $landconnect-theme-color;
          }
        }
      }
    }

    .arrow-active {
      background: #f3f4f6;
      border-radius: 8px;
    }

    .document-details {
      .landconnect-input {
        width: 100%;
      }
    }
  }

  .drawer {
    padding: 0 !important;
    flex-flow: row !important;
    align-items: center;
    overflow: hidden;

    .page-preview {
      max-height: calc(100% - 48px) !important;
      box-shadow: $app-box-shadow;
      position: absolute;
      bottom: 0px;
      flex-shrink: 0;
      background: #fff;
      z-index: $z-index-left-panel - 1;
      width: 100% !important;

      .sitings-sliders {
        position: absolute;
        width: 420px;
        bottom: 23px;

        .price-slider {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          margin: 15px 0;

          & > .slider-prices {
            padding-top: 0;
            font-size: 12px;
            flex-grow: 1;
            display: flex;
            align-items: center;

            .slider-value {
              width: 60px;
              height: 25px;
              display: inline-flex;
              align-items: center;
              padding-left: 10px;
              margin-left: auto;
              box-shadow: $app-box-shadow;
              border: none;
            }

            input {
              -moz-appearance: textfield;
            }

            & > .landconnect-icon {
              margin: 0 5px 0 15px;
            }
          }

          & > .slider-container {
            width: 560px;
            margin-top: -3px;

            & > .rail {
              height: 4px;
            }

            & > .slider-handles {
              & > .handle {
                top: -1px;
              }
            }
          }
        }
      }

      /** endof testing **/

      .react-resizable-handle {
        position: absolute;
        width: calc(100% - 240px);
        height: 10px;
        top: -47px;
        left: 120px;
        cursor: -webkit-grabbing;
        cursor: row-resize;
        height: 7px;
        z-index: 3;
      }

      .page-preview-tabs {
        position: absolute;
        display: block;
        content: '';
        top: -47px;
        left: 0%;
        // text-transform: uppercase;
        box-sizing: border-box;
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        width: 100%;
        height: 47px;
        background: #ffffff;
        border-bottom: 1px solid #e0e0e0;
        border-top: 1px solid #e0e0e0;
        border-radius: 0px;
        flex: none;
        order: 0;
        flex-grow: 1;

        // & > :nth-child(1) {
        //   position: absolute;
        //   display: block;
        //   top: calc(0% + 30px * 2);
        //   left: calc(100% - 150px / 2 + 30px / 2);
        //   width: 150px;
        //   height: 30px;
        //   background: $button-background-color;
        //   box-sizing: border-box;
        //   border-top-right-radius: 10px;
        //   transform: rotate(90deg);
        // }

        // & > :nth-child(2) {
        //   position: absolute;
        //   display: block;
        //   top: 200px;
        //   left: calc(100% - 150px / 2 + 30px / 2);
        //   width: 150px;
        //   height: 30px;
        //   background: $button-background-color;
        //   box-sizing: border-box;
        //   border-top-right-radius: 10px;
        //   transform: rotate(90deg);
        // }
        // & > :nth-child(3) {
        //   position: absolute;
        //   display: block;
        //   top: 340px;
        //   left: calc(100% - 150px / 2 + 30px / 2);
        //   width: 150px;
        //   height: 30px;
        //   background: $button-background-color;
        //   box-sizing: border-box;
        //   border-top-right-radius: 10px;
        //   transform: rotate(90deg);
        // }
        .page-preview-tab {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: $larger-text-size;
          border: none;
        }

        .page-preview-tab-active {
          background: $button-background-color-active;
          z-index: 1;
        }

        .page-preview-tab-hide {
          display: none;
        }

        .pdf-name {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          align-items: center;
          color: #38393b;
          flex: none;
          order: 0;
          flex-grow: 0;
        }

        .tool-wrap {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px 0px;
          width: 58px;
          height: 36px;
          flex: none;
          order: 2;
          flex-grow: 0;
          justify-content: space-between;

          img {
            cursor: pointer;
          }
        }
      }

      & > .image {
        &.cross {
          background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='grey' stroke-dasharray='1' stroke-width='0.5'/><path d='M0 0 L100 100 ' stroke='grey' stroke-dasharray='1' stroke-width='0.5'/></svg>")
            no-repeat center center;
          background-size: 100% 100%, auto;
          cursor: default;
        }

        &.disabled {
          display: none;
        }

        cursor: grabbing;
        overflow: hidden;
        height: 100%;
        width: 100%;
      }
    }

    .zoom-buttons {
      display: flex;
      flex-direction: column;

      position: absolute;
      right: 30px;
      bottom: 30px;
      box-shadow: $app-box-shadow;

      background: $landconnect-theme-color;

      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }

      & > button {
        padding: 10px;

        & > .landconnect-icon {
          margin: 0;

          &:before {
            background-color: #fff;
          }
        }
      }
    }

    .nearmap-copyright {
      display: flex;
      flex-direction: column;

      position: absolute;
      right: 30px;
      top: 30px;
      box-shadow: $app-box-shadow;

      & > .attribution {
        color: white;
        font-weight: bold;
        font-size: 12px;
      }
    }

    .nearmap-block {
      position: absolute;
      left: 50%;
      top: 50%;

      & > .nearmap-placeholder {
        /*
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
         */

        position: relative;
        left: -50%;
        top: -120px;

        text-align: center;
        color: black;

        & > span {
          display: block;
        }

        & > .text {
          margin-top: 40px;
          font-size: 22px;
        }

        & > img {
          width: 300px;
        }

        & > .attribution {
          font-weight: bold;
          font-size: 12px;
        }
      }
    }

    .lot-view,
    .trace-view {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;

      &.export {
        justify-content: center;
        align-items: center;

        & > canvas {
          box-shadow: $app-box-shadow;
        }
      }

      & > .threed-canvas {
        background: #f9f9f9;
        background: -moz-linear-gradient(
          top,
          #f9f9f9 0%,
          #f1f2f8 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          top,
          #f9f9f9 0%,
          #f1f2f8 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to bottom,
          #f9f9f9 0%,
          #f1f2f8 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f1f2f8',GradientType=0 ); /* IE6-9 */
      }

      &.disabled {
        display: none;
      }
    }

    .export-preview {
      width: 595px;
      height: 842px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 0;

      & > svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      &.hidden {
        z-index: -1000;
      }

      &.solid {
        background-color: white;
      }
    }

    .page-toggle {
      position: absolute;
      left: 30px;
      bottom: 30px;
      width: 200px;
      height: 55px;
      background: #f0f0f0;
      padding: 15px 0 0 15px;
    }

    .site-coverage {
      font-size: 13px;
      color: black;
      position: absolute;
      top: 25px;
      right: 35px;

      th {
        td:first-child {
          text-align: left;
        }

        td:last-child {
          text-align: right;
        }
      }

      td:last-child {
        text-align: right;
      }

      & > svg {
        margin-left: 5px;
      }
    }

    .align-to-page {
      &.disabled {
        pointer-events: none;
        opacity: 0.4;
      }

      & > button {
        box-shadow: $app-box-shadow;
        background: $landconnect-theme-color;

        padding: 10px;

        & > .landconnect-icon {
          margin: 0;

          &:before {
            background-color: #fff;
          }
        }
      }

      & > .left {
        position: absolute;
        left: 30px;
        bottom: 50%;
      }

      & > .right {
        position: absolute;
        right: 30px;
        bottom: 50%;
      }

      & > .top {
        position: absolute;
        top: 30px;
        left: 50%;

        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      & > .bottom {
        position: absolute;
        bottom: 30px;
        left: 50%;

        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }

    .lot-controls {
      .north-indicator {
        position: absolute;
        right: 26px;
        bottom: 120px;

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        circle {
          fill: $landconnect-theme-color;
        }
      }

      .sitings-sliders {
        position: absolute;
        width: 420px;
        bottom: 23px;

        .price-slider {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          margin: 15px 0;

          & > .slider-prices {
            padding-top: 0;
            font-size: 12px;
            flex-grow: 1;
            display: flex;
            align-items: center;

            .slider-value {
              width: 50px;
              height: 25px;
              display: inline-flex;
              align-items: center;
              padding-left: 10px;
              margin-left: auto;
              box-shadow: $app-box-shadow;
              border: none;
            }

            input {
              -moz-appearance: textfield;
            }

            & > .landconnect-icon {
              margin: 0 5px 0 15px;
            }
          }

          & > .slider-container {
            width: 200px;
            margin-top: -3px;

            & > .rail {
              height: 4px;
            }

            & > .slider-handles {
              & > .handle {
                top: -1px;
              }
            }
          }
        }
      }
    }
  }

  .summary {
    padding-top: 40px !important;

    .lot-view {
      align-items: center;
      display: flex;
      justify-content: center;
      flex: 1;
    }
  }

  .exit-button {
    position: absolute;
    right: 50px;
    top: calc(#{$app-navbar-height} + 10px);
    color: $landconnect-theme-color;
    padding: 5px;
    background: #fff;
  }

  .control-pan {
    background: #ffffff;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    height: 167px;
    width: 48px;
    justify-content: space-between;
    padding: 8px;

    img {
      margin: 0 auto;
    }

    .circle-slider {
      margin: 0 auto;
    }

    .cursor-wrap {
      background: $landconnect-theme-color;
      border-radius: 8px;
      width: 32px;
      height: 32px;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
      }
    }
  }
}

// ------------------------------------------ //
