@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(~https://localapollo.com/fonts/roboto/Roboto.eot);
  src: local('Roboto'), url(~https://localapollo.com/fonts/roboto/Roboto.eot?#iefix) format('embedded-opentype'), url(~https://localapollo.com/fonts/roboto/Roboto.ttf) format('truetype'), url(~https://localapollo.com/fonts/roboto/Roboto.woff) format('woff'), url(~https://localapollo.com/fonts/roboto/Roboto.svg#Roboto) format('svg'), url(~https://localapollo.com/fonts/roboto/Roboto.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(~https://localapollo.com/fonts/roboto/Roboto-normal-700.ttf) format('truetype'), url(~https://localapollo.com/fonts/roboto/Roboto-normal-700.woff) format('woff'), url(~https://localapollo.com/fonts/roboto/Roboto-normal-700.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(~https://localapollo.com/fonts/roboto/Roboto-italic-400.ttf) format('truetype'), url(~https://localapollo.com/fonts/roboto/Roboto-italic-400.woff) format('woff'), url(~https://localapollo.com/fonts/roboto/Roboto-italic-400.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url(~https://localapollo.com/fonts/roboto/Roboto-italic-700.ttf) format('truetype'), url(~https://localapollo.com/fonts/roboto/Roboto-italic-700.woff) format('woff'), url(~https://localapollo.com/fonts/roboto/Roboto-italic-700.woff2) format('woff2');
}

