&.estate-packages {
  flex-flow: column;
  & > header {
    border-bottom: $app-border;
    margin-bottom: 20px;
  }

  & > .packages {
    display: flex;

    & > .left-panel {
      flex: 0 0 33%;
      margin-right: 50px;
      & > .form-rows {
        margin-top: 0;
      }
      label {
        font-weight: $font-weight-bold;
        font-size: $extra-small-text-size;
      }
    }

    & > .right-panel {
      flex: 1 100%;

      & > header {
        font-weight: $font-weight-bold;
        display: flex;
        align-items: center;
        & > img {
          max-width: 20px;
          margin-right: 10px;
        }
      }
      @import "cards";

      .cards {
        margin-bottom: 35px;
        & > .cards-list > .card {
          .eye-overlay {
            display: none;
            position: absolute;
            top: 10px;
            bottom: 10px;
            right: 10px;
            left: 10px;
            background: rgba(255,255,255,0.9);

            & > div {
              & > .landspot-icon {
                margin-right: 5px;
              }
              color: $landspot-text-color;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          &:hover {
            .eye-overlay {
              display: block;
            }
          }
        }
      }
    }
  }
}