a {
  &.active,
  &.selected,
  &:hover {
    @include brand-color;
    .landspot-icon:before {
      background-color: $landspot-theme-color;
    }
  }
  &.trash-link {
    position: absolute;
    right: 5px;
    top: 10px;
    display: inline-flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;

    & > .landspot-icon {
      padding: 8px;
    }
  }

  &.link {
    text-decoration: underline;
  }
}