.tos-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.33);
  z-index: $z-index-popup-modal-backdrop;
  padding: 50px;

  & > .popup {
    padding: 30px;
    border-radius: 10px;
    background: white;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-flow: column;

    & > .tos-text {
      overflow-y: auto;
      flex-grow: 1;
      margin-bottom: 2em;

      h1 {
        text-align: center;
      }
      .terms-p {
        padding: 0 5px;
        color: #111;
        font-size: 14px;

        &.header {
          padding: 0 0 5px 0;
          margin: 7px 0 7px 5px;
          border-bottom: 1px solid #999;
        }

        & + ul {
          font-size: 14px !important;
        }
      }


      .ol-list {
        list-style-type: none;
        counter-reset: item;

        & > li {
          counter-increment: item;
          &:before {
            content: counters(item, ".") ". ";
          }
        }

        .top-list {
          padding: 7px 5px;
          font-size: 16px;
          line-height: 30px;
        }
        .nested-list {
          list-style-type: none;
          counter-reset: i;
          line-height: 25px;
          padding: 0 20px;

          & > li {
            counter-increment: i;
            &:before {
              content: counter(item) "." counters(i, ".") " ";
            }
            font-size: 14px;
            line-height: 1.9;
            text-align: justify;
          }

          .second-nested-list {
            list-style-type: lower-alpha;
            padding-left: 20px;
            font-size: 14px;
            line-height: 1.9;

            .third-nested-list {
              list-style-type: upper-alpha;
              padding-left: 20px;
              font-size: 14px;
              line-height: 1.9;
            }
          }
        }
      }

    }

    & > .buttons {
      position: relative;
      text-align: right;
      flex-shrink: 0;
     }
  }
}