@mixin toggle-dot {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  bottom: 50%;
  transform: translateY(50%);
  transition: .4s;
  display: block;
  border-radius: 50%;
}

@mixin toggle-label {
  position: absolute;
  content: attr(data-label);
  bottom: 50%;
  transform: translateY(50%);
  font-weight: $font-weight-bold;
  font-style: normal;
  font-size: $smaller-text-size;
}

.toggle-switch {
  padding-left: 0;
  white-space: nowrap;
  text-align: left;
  appearance: none;
  outline: none;
  cursor: pointer;
  border: 0;
  position: relative;
  background: transparent;
  padding-right: 50px;
  line-height: 20px;

  &.right {
    padding: {
      left: 50px;
      right: 0;
    };
    & > i {
      right: auto;
      left: 0;
    }
  }

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }

  & > i {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: $button-background-color;
    transition: .4s;
    height: 100%;
    width: 40px;
    border-radius: 10px;
    border: 1px solid $button-background-color;

    &.off {
      &:before {
        background: #fff;
        left: 2px;
        @include toggle-dot;
      }

      &:after {
        right: 7px;
        color: #fff;
        @include toggle-label;
      }
    }

    &.on {
      background: #fff;

      &:before {
        color: $button-background-color;
        left: 7px;
        @include toggle-label;

      }

      &:after {
        right: 2px;
        background: $button-background-color;
        @include toggle-dot;
      }
    }
  }


  &:focus > i {
    box-shadow: 0 0 5px $landspot-theme-color;
  }
}
