@import "../variables";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font: 12pt Arial, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}
@media screen {
  .page {
    width: $a4-page-width;
    min-height: $a4-page-height;
    margin: $print-page-margin auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
}

/*.subpage {
  padding: 1cm;
  border: 5px red solid;
  height: 257mm;
  outline: 2cm #FFEAEA solid;
}*/

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: auto;
    height: auto;
  }

  .page {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: initial;
    background: initial;
    width: auto;
    min-height: auto;
    //page-break-after: always;

    &.full-a4-height {
      height: $a4-page-height;
    }
  }

  html.phantom-js {
    /* DPI fix
    transform-origin: 0 0;
    transform: scale(72/96*1);
    */
    header, footer {
      display: none;
    }
  }
}