@import "a4-page";

.page {
  display: flex;
  flex-flow: column nowrap;

  .header {
    height: 25mm;
    position: relative;
    img {
      position: absolute;
      width: 67mm;
      left: 128.5mm;
      top: 9mm;
    }
  }

  .facade {
    background: transparent center center/cover no-repeat;
    height: 100mm;
  }

  .house-data {
    height: 25mm;
    background: #414042;
    color: white;
    position: relative;

    .properties {
      position: absolute;
      left: 12mm;
      top: 7mm;

      .title {
        font-size: 16pt;
        font-weight: bold;
        font-family: "Proxima Nova Bold";

        .range {
          font-size: 13pt;
          font-family: "Proxima Nova";
          font-weight: normal;
          margin-left: 8pt;
        }
      }

      .lot-size {
        font-size: 9pt;
        font-family: "Proxima Nova Light";
      }
    }

    .house-options {
      margin: 0;
      text-align: center;
      padding: 0;
      list-style: none;
      font-size: 9pt;
      position: absolute;
      font-weight: bold;
      font-family: "Proxima Nova Bold";
      display: flex;

      right: 26mm;
      left: auto;
      top: 9mm;
      line-height: 9mm;
      height: 7mm;

      & > li {
        position: relative;
        width: 18mm;
        text-align: left;

        &:after {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          background: transparent url("#{$APP_URL}/images/pdf_public/Sherridon-icons.svg") left top/cover no-repeat scroll;
        }


        &.cars:after {
          background-position-x: -202px;
        }
        &.baths:after {
          background-position-x: -56px;
        }
        &.beds:after {
          background-position-x: 15px;
        }
      }
    }
  }

  .house-attributes {
    display: flex;
    flex-flow: row nowrap;
    height: 127mm;

    .floorplans {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      flex: 0 0 60%;
      width: 60%;
      height: 100%;
      padding: 10mm 0 10mm 5mm;

      & > div {
        position: relative;
        flex: 1 50%;
        background: center center / contain no-repeat scroll transparent;
      }
    }

    .house-description {
      color: #191919;
      margin: 0;
      overflow: hidden;
      font-size: 9pt;
      font-family: "Proxima Nova Light";
      padding: 22mm 8mm;
      max-height: 110mm;
    }

    ul.house-description {
      //padding-left: 1.5em;
      list-style-type: none;

      & > li {
        position: relative;
        width: 72mm;
        line-height: 14pt;

        &.item {
          padding-left: 6pt;

          .dot {
            position: absolute;
            left: -11pt;
            font-size: 18pt;
            line-height: 18pt;
            top: 0;
            transform: translateY(-7pt);;
          }
        }

        &.title {
          font-size: 11pt;
          font-family: "proxima_nova_ltsemibold";
          color: #001243;
          list-style-type: none;
          margin-bottom: 8pt;
          margin-left: -12pt;
        }
      }
    }
  }

  .footer {
    flex: 1 100%;
    background: #001641;
    color: white;
    font-size: 6pt;
    font-family: "Proxima Nova";
    padding: 5mm 14mm 0 5mm;

    .contacts {
      font-size: 9pt;
    }
  }

}
